@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #000000;

}

@media (prefers-color-scheme: dark) {
  :root {
    background: #000000;

  }
}

body {
  display: flex; /* Usa flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
  background: #000000; /* Establece el color de fondo */
  user-select: none; /* Evita la selección de texto */
}