.orbit {
	position: absolute;
	width: 300px;
	height: 300px;
	border: 0.5px solid #505050; 
	border-radius: 50%; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .planet {
	position: absolute;
    width: 1.5vw; /* Usando viewport width */
    height: 1.5vw; /* Usando viewport width */
	background-color: red; 
	border-radius: 50%; 
	transform-origin: center;
	animation: orbit 10s linear infinite; 
  }
  
  @keyframes orbit {
	from {
	  transform: rotate(0deg) translateX(150px) rotate(0deg);
	}
	to {
	  transform: rotate(360deg) translateX(150px) rotate(-360deg);
	}
  }